.App {
  text-align: center;
  margin-top: 200px;
  font-size: 25px;
}

.container {
  margin-bottom: 250px;
}
ul {
  list-style: none;
}

#searchEngine {
  font-size: 20px;
}

#searchButton {
  font-size: 20px;
}
form {
  font-size: 25px;
}
#weatherdescription {
  text-transform: capitalize;
}

#githubLink {
  text-align: center;
  display: block;
}
